.blogs#blog(data-stellar-background-ratio="0.5")
  .container
    .row
      p.text-title Сообщество FHIR®
    .row      
      .col-md-4
        .blog-box
          a.blog-header(href="http://www.healthintersections.com.au/", target="_blank") Health Intersections
          p.blog-btext Блог Грэма Грива, создателя FHIR®

        .blog-box
          a.blog-header(href="http://thefhirplace.com/", target="_blank") The Fhirplace
          p.blog-btext Блог Эвута Крамера
      
      .col-md-4
        .blog-box
          a.blog-header(href="http://fhirblog.com/", target="_blank") Hay on FHIR
          p.blog-btext Блог Дэвида Хэя

        .blog-box
          a.blog-header(href="http://healthcaresecprivacy.blogspot.com/search?q=FHIR&max-results=20&by-date=true", target="_blank") Healthcare Security / Privacy
          p.blog-btext Блог Джона Моерке
      
      .col-md-4
        .blog-box
          a.blog-header(href="http://motorcycleguy.blogspot.com.au/search/label/FHIR", target="_blank") Healthcare Standards
          p.blog-btext Блог Кейта Буна

        .blog-box
          a.blog-header(href="http://www.fhir-biztalk.com/", target="_blank") BizTalk on FHIR
          p.blog-btext Блог Говарда Эдидина


//- a.link-title.pull-right.text-muted(href="http://fhir-ru.github.io/credits.html", target="_blank") Сообщество и благодарности