.blogs#blog(data-stellar-background-ratio="0.5")
  .container
    .row
      h5.text-title Блоги о FHIR®
    .row      
      .col-md-4
        .blog-box
          a.blog-header(href="http://www.healthintersections.com.au/", target="_blank") Health Intersections
          p.text-muted Блог Грэма Грива, создателя FHIR®
        .blog-box
          a.blog-header(href="http://thefhirplace.com/", target="_blank") The Fhirplace
          p.text-muted Блог Эвута Крамера
      
      .col-md-4
        .blog-box
          a.blog-header(href="http://fhirblog.com/", target="_blank") Hay on FHIR
          p.text-muted Блог Дэвида Хэя
        .blog-box
          a.blog-header(href="http://healthcaresecprivacy.blogspot.com/search?q=FHIR&max-results=20&by-date=true", target="_blank") Healthcare Security/Privacy
          p.text-muted Блог Джона Моерке
      
      .col-md-4
        .blog-box
          a.blog-header(href="http://motorcycleguy.blogspot.com.au/search/label/FHIR", target="_blank") Healthcare Standards
          p.text-muted Блог Кейта Буна
        .blog-box
          a.blog-header(href="http://www.fhir-biztalk.com/", target="_blank") BizTalk on FHIR
          p.text-muted Блог Говарда Эдидина