.header
	.container
		img.fhir-logo(src="img/fhir-logo.svg" alt="FHIR logo")
		//- p.rus Россия
		p.line-devider |
		nav
			ul
				li: a(href="#community") Команда
				li: a(href="#society") Сообщество
				li: a(href="#hl7russia") HL7 Россия
				li: a(href="#projects") Проекты