.intro#intro
  .container
    include ./_parallax.jade
    include ./_header.jade
    .row
      .col-md-8.col-md-offset-2
        p.intro-text.text-muted.text-center HL7® Fast Healthcare Interoperability Resources® 
          br
          | (Ресурсы Обмена Медицинской Информацией)
          
          //- p – это новый стандарт обмена медицинской информацией от международной организации HL7®. FHIR создаётся с учётом стандартов 
          //-   | и спецификаций HL7 второго (HL7 v2) и третьего (HL7 v3) поколений, CDA, задействует современные веб-технологии и направлен 
          //-   | на практическую реализацию.
        
          p.intro-btext Основным структурным элементом стандарта FHIR® является "ресурс". Для облегчения понимания можно провести аналогию между FHIR-ресурсами и бланками документов для записи клинической и административной информации, которую можно зафиксировать и совместно использовать. Стандарт FHIR® определяет общий шаблон для каждого типа клинической информации: один для аллергии, один для медицинских предписаний, один для медицинских направлений и т. п.
          //- p Основная идея стандарта FHIR® − создать базовый набор ресурсов, которые по-отдельности или в комбинации смогут 
          //- | удовлетворить потребности большинства сценариев использования. Ресурсы FHIR® определяют содержание и структуру основного 
          //- | набора информации, который является общим для большинства реализаций. Существует встроенный механизм расширения ресурсов для 
          //- | покрытия остальных сценариев по мере их возникновения.

    .row
      .intro-buttons
        .col-md-12
          a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-dev.html", target="_blank") Введение для разработчиков
          a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-clinical.html", target="_blank") Введение для медицинских работников
      
        //- .row
        //-   .col-md-8.col-md-offset-2
        //-     .links
        //-       p.links-text
        //-         a(href="http://hl7-fhir.github.io/", target="_blank") Текущая версия спецификации (англ.)
        //-         br
        //-         a(href="http://fhir-ru.github.io/", target="_blank") Перевод спецификации (рус.)
        //-         br
        //-         a(href="http://hl7.org/fhir/index.html", target="_blank") Текущая официально опубликованная версия спецификации 1.0.1 на 24 окт 2015 г. (англ.)
        //-         br 
        //-         a(href="http://www.hl7.org.ru/", target="_blank") HL7 РОССИЯ
    
    //- a(href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=185", target="_blank") второго (HL7 v2), 
    //- a(href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=186", target="_blank") третьего (HL7 v3)
