.intro#intro
	include ./_parallax.jade
	.container
		.row
			.col-md-6
				.row

					.col-md-6
						.intro-box
							a.img-text(href="http://fhir-ru.github.io/overview-clinical.html" target="_blank")
								img.intro-img(src="img/doctor.png")
								p Введение для 
									br 
									| медиков

					.col-md-5
						.intro-box
							a.img-text(href="http://fhir-ru.github.io/overview-dev.html" target="_blank")
								img.intro-img(src="img/coder.png")
								p Введение для 
									br
									| разработчиков
			.col-md-5
				.fhir-box
					p.intro-text HL7® Fast Healthcare
						br 
						| Interoperability Resources® 
					P.fhir-rutext Ресурсы Обмена Медицинской Информацией
					p.intro-btext Новый стандарт обмена медицинской информацией от международной организации HL7®. FHIR создаётся с учётом стандартов и спецификаций HL7 второго и третьего поколений, CDA, задействует современные веб-технологии и направлен на практическую реализацию.
			



					//- .col-md-6.coll-md-offset-2


				
				//- p.intro-btext Основным структурным элементом стандарта FHIR® является "ресурс". Для облегчения понимания можно провести аналогию между FHIR-ресурсами и бланками документов для записи клинической и административной информации, которую можно зафиксировать и совместно использовать. Стандарт FHIR® определяет общий шаблон для каждого типа клинической информации: один для аллергии, один для медицинских предписаний, один для медицинских направлений и т. п.


				//- p Основная идея стандарта FHIR® − создать базовый набор ресурсов, которые по-отдельности или в комбинации смогут 
				//- | удовлетворить потребности большинства сценариев использования. Ресурсы FHIR® определяют содержание и структуру основного 
				//- | набора информации, который является общим для большинства реализаций. Существует встроенный механизм расширения ресурсов для 
				//- | покрытия остальных сценариев по мере их возникновения.

		//- .row
		//- 	.intro-buttons
		//- 		.col-md-12
		//- 			a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-dev.html", target="_blank") Введение для разработчиков
		//- 			a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-clinical.html", target="_blank") Введение для медицинских работников
