.medium
	.container
		.row
			.col-md-4
				<script async src="https://static.medium.com/embed.js"></script>
				.medium-box
					a(class="m-story" data-collapsed="false" href="https://medium.com/@health_samurai/%D0%B2%D0%B0%D0%BB%D0%B8%D0%B4%D0%B0%D1%86%D0%B8%D1%8F-fhir-%D1%80%D0%B5%D1%81%D1%83%D1%80%D1%81%D0%BE%D0%B2-45a33a50f48e") Валидация FHIR-ресурсов
			.col-md-4
				.medium-box
					a(class="m-story" data-collapsed="true" href="https://medium.com/@health_samurai/%D0%BE%D0%BF%D1%83%D0%B1%D0%BB%D0%B8%D0%BA%D0%BE%D0%B2%D0%B0%D0%BD-fhir-dstu2-1e8111bc6e50") Опубликован FHIR DSTU2
			.col-md-4
				.medium-box
					a(class="m-story" data-collapsed="true" href="https://medium.com/@health_samurai/%D1%8D%D1%82%D0%BE-%D0%BF%D0%B5%D1%80%D0%B5%D0%B2%D0%BE%D0%B4-%D1%81%D1%82%D0%B0%D1%82%D1%8C%D0%B8-slicing-extensions-with-fhir-%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%BE%D0%BC-%D0%BA%D0%BE%D1%82%D0%BE%D1%80%D0%BE%D0%B9-%D1%8F%D0%B2%D0%BB%D1%8F%D0%B5%D1%82%D1%81%D1%8F-%D0%B4%D1%8D%D0%B2%D0%B8%D0%B4-%D1%85%D1%8D%D0%B9-%D1%81%D0%BF%D0%B5%D1%86%D0%B8%D0%B0%D0%BB%D0%B8%D1%81%D1%82-%D0%BF%D0%BE-b9184df70aba") Slicing extensions with FHIR, Дэвид Хэй