#bg(data-stellar-background-ratio="0.5")
  #scene
    .layer#l1(data-depth="0.40")
      img(src="img/move-bg.png")
    .layer#l2(data-depth="0.80")
      img(src="img/bg-test.png")



//- parallax.js
//- .parallax
//- 	.container
//- 	  #bg(data-stellar-background-ratio="0.5")
//- 	    #scene
//-       .layer#l1(data-depth="0.40")
//-         img(src="img/move-bg.png")
//-       .layer#l2(data-depth="0.80")
//- 	        img(src="img/bg-test.png")

//- #bg-bottom.bg-pic(data-stellar-background-ratio="0.5")
  //- .stellar-ratio(data-stellar-ratio="1")
    //- h1 Lorem ipsum dolor sit amet. 