.persons-ru
  .container
    //- a(name="hl7russia")
    .row
      h5.text-title HL7® в России
    .row
      .col-md-6
        p.text-muted.personru-btext В 2009 году была создана некоммерческая организация Развития и стандартизации обмена, управления и интеграции электронной медицинской информации «ЗУС «Евразия». В её создании приняли участие Российский национальный исследовательский медицинский университет им. Н.И. Пирогова и ведущие государственные и частные структуры, работающие в сфере информационных технологий в здравоохранении. Руководитель - Сергей Леонидович Швырев, специалист в области практической разработки и интеграции медицинских информационных систем.
        //-  (НПЦ ЭМП Департамента здравоохранения города Москвы, Департамент информационных  технологий и связи Минздрава России, Страховая группа «Спасские ворота», МГОБ№ 62 города Москвы, МИАЦ РАМН, IT-Компании «Программы и комплексы», «Медицинские информационные технологии»). Президентом HL7 Россия на данный момент является руководитель научно-исследовательской лаборатории ГБОУ ВПО РНИМУ им. Н.И. Пирогова Минздрава России Сергей Леонидович Швырев, специалист в области практической разработки и интеграции медицинских информационных систем.
        .personru-box
          .media
            a.media-left(href="#")
              img.personru-img.border.img-rounded(src="img/shvirev_sl.jpg" alt="Швырев Сергей Леонидович")
            .media-body
              h4.media-heading Швырев Сергей Леонидович
              p.text-muted Президент HL7 РОССИЯ
              p
                a(href="http://www.hl7.org.ru/", target="_blank") HL7 РОССИЯ
              
        
    
        .row
          h5.second-title.text-title HL7® FHIR® в России
        p.text-muted.personru-btext В разработке и продвижении стандарта HL7® FHIR® в России участвует российская команда Health Samurai, являющаяся членом организации "HL7 Россия". Health Samurai принимает участие в проводимых HL7® конференциях по FHIR® и оказывает консультирование в области практического использования стандарта HL7® FHIR® при разработке медицинских информационных систем.
        .personru-box
          .media
            a.media-left(href="#")
              img.personru-img.border.img-rounded(src="img/nicolay.png" alt="Николай Рыжиков")
            .media-body
               h4.media-heading Николай Рыжиков
               p.text-muted Лидер команды 
               p
                 a(href="https://healthsamurai.aidbox.io/#/", target="_blank") Health Samurai
                       
          .personru-box
            .media
              a.media-left(href="#")
                img.personru-img.border.img-rounded(src="img/sasha.png" alt="Александра Павлышина")
              .media-body
                h4.media-heading Александра Павлышина
                p.text-muted Инженер-программист, переводчик
                p
                  a(href="https://healthsamurai.aidbox.io/#/", target="_blank") Health Samurai
              
      .col-md-6
        include ./_twitter.jade

