.persons
  .container
    .row
      a(name="community")
      h5.text-title.pull-left Редакционная команда HL7® FHIR®
      a.link-title.pull-right(href="http://fhir-ru.github.io/credits.html", target="_blank") Сообщество и благодарности
    .row
      //- 1ST COL
      .col-md-4

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/graham.png" alt="...")
              .core-team core team
            .media-body
              h4.media-heading Грэм Грив
              p.text-mute Создатель FHIR, консультант, разработчик, основатель компании "Healthcare Interoperability". Был председателем комитета HL7.
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/josh.png" alt="...")
              .core-team core team
            .media-body
              h4.media-heading Джош Мандел
              p.text-mute Врач, программист, ведущий архитектор платформы SMART.
          
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/rene.png" alt="...")
            .media-body
              h4.media-heading Рене Спронк
              p.text-mute Оказание образовательных услуг по стандартам взаимодействия в здравоохранении.
      
      //- 2ND COL
      .col-md-4

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/lloyd.png" alt="...")
              .core-team core team
            .media-body
              h4.media-heading Ллойд Маккензи
              p.text-mute Разработчик с экспертизой в моделировании данных HL7 и проектировании моделей данных.
              
         .person-box  
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/james.png" alt="...")
            .media-body
              h4.media-heading Джеймс Агню
              p.text-mute Активно участвует в HL7 и разработке проекта HAPI.

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/david.png" alt="...")
            .media-body
              h4.media-heading Дэвид Хэй
              p.text-mute Позиционирует себя "евангелистом FHIR" ("фанатиком FHIR"), работает в компании "Orion Health" и HL7 Новая Зеландия.
        
        
      
      //- 3RD COL
      .col-md-4
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/evout.png" alt="...")
              .core-team core team
            .media-body
              h4.media-heading Эвут Крамер
              p.text-mute Архитектор и инженер-программист. Консультирование и коучинг команд в области моделирования и обмена сообщениями.
        
        
        
              
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/ben.png" alt="...")
            .media-body
              h4.media-heading Брайан Постлетвэйт
              p.text-mute Имеет многолетний опыт работы в различных средах.
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/vien.png" alt="...")
            .media-body
              h4.media-heading Вьет Нгуен
              p.text-mute Терапевт, педиатр, специалист в области медицинской информатики.
              
include ./_video.jade
