.persons
  .container.test
    .row

      //- left collumn
      .col-md-6.core-persons
        //- img.team-icon(src="img/team-icon.svg" alt="...")
        img.team-icon(src="img/eye-icon.svg" alt="...")
        p.text-title Редакционная 
          br
          | команда HL7® FHIR®
        p.core-team Core Team
        
        //- Грэм Грив
        .person-box
          .media
            .media-left(href="#")
              img.border.img-rounded.img-persons(src="img/graham.png" alt="...")
            .media-body
              h4.media-heading Грэм Грив
              p.text-mute Создатель FHIR, консультант, разработчик. Был председателем комитета HL7.

        //- Ллойд МакКензи
        .person-box
          .media
            .media-left(href="#")
              img.border.img-rounded.img-persons(src="img/lloyd.png" alt="...")
            .media-body
              h4.media-heading Ллойд Маккензи
              p.text-mute Разработчик, эксперт в области моделирования и передачи данных HL7.
        
        //- Эвут Крамер
        .person-box
          .media
            .media-left(href="#")
              img.border.img-rounded.img-persons(src="img/evout.png" alt="...")
            .media-body
              h4.media-heading Эвут Крамер
              p.text-mute Архитектор в области моделирования и обмена медицинскими данными.
        
        //- Джош Манедел
        .person-box
          .media
            .media-left(href="#")
              img.border.img-rounded.img-persons(src="img/josh.png" alt="...")
            .media-body
              h4.media-heading Джош Мандел
              p.text-mute Врач, программист, ведущий архитектор платформы SMART.
        
      
      //- right collumn
      .col-md-5.others-persons
        
        //- Джеймс Агню
        .person-box  
          p.media-heading Джеймс Агню
          p.text-others Активно участвует в HL7 и разработке java-библиотеки для FHIR - HAPI.
        
        //- Брайан Постлетвэйт
        .person-box
          p.media-heading Брайан Постлетвэйт
          p.text-others Имеет многолетний опыт работы в различных средах.

        //- Рене Спронк
        .person-box
          p.media-heading Рене Спронк
          p.text-others Оказывает образовательные услуги в сфере здравоохранения.

        //- Дэвид Хэй
        .person-box
          p.media-heading Дэвид Хэй
          p.text-others «Евангелист FHIR», работает в компании «Orion Health» и HL7 Новая Зеландия.
        
        //- Вьет Нгуен
        .person-box
          p.media-heading Вьет Нгуен
          p.text-others Терапевт, педиатр, специалист в области медицинской

      .col-md-1.design-box
