.persons
  .container
    .row
      h4.text-mute Редакционная комманда
    .row
      .col-md-6
        ul
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Грэм Грив
                a(href="http://www.healthintersections.com.au/") Health Intersections
                p Healthcare Interoperability consultant and developer. Chair several HL7 committees and contribute to several open source software projects.
                a(href="https://twitter.com/grahamegrieve") twitter
                a(href="https://www.linkedin.com/in/grahame-grieve-952637") linkedin
                a(href="http://www.informationweek.com/healthcare/electronic-health-records/free-the-health-data-grahame-grieve-on-fhir/a/d-id/1297761") Article
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Ллойд Маккензи
                a(href="https://www.gevityinc.com/") Gevity
                p Information architect with globally recognized expertise in HL7 data modeling and design. Energetic facilitator with excellent communication, organizational and teaching skills, supported by an extensive background in software design and development.
                a(href="https://www.linkedin.com/in/lloyd-mckenzie-6b6681") linkedin
                a(href="https://vimeo.com/84767819") vimeo
                a(href="http://www.slideshare.net/DevDays2014/03-a-fhir-documents-lloyd") presentation
          li 
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Эвут Крамер
                a(href="http://www.furore.com/") Furore
                p Architect and software engineer. Consultancy and coaching for teams modelling and implementing messaging in the medical domain.
                a(href="https://twitter.com/ewoutkramer") twitter
                a(href="https://github.com/ewoutkramer") github
                a(href="https://www.linkedin.com/in/ewoutkramer") linkedin
                a(href="http://www.slideshare.net/ewoutkramer") Presentation

          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Джеймс Агню
                a(href="http://ehealthinnovation.org/") University Health Network
                p He is heavily involved with HL7 (a healthcare standards body) and leads the HAPI project ( http://jamesagnew.github.io/hapi-fhir/ ), which is an open source library used around the world to develop integrated health software.
                a(hret="https://github.com/jamesagnew") github
                a(href="http://www.slideshare.net/DevDays2014/04-a-fhir-api-for-java-james-41962826") Presentation
                a(href="http://jamesagnew.github.io/hapi-fhir/") Hapi
          li 
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Дэвидом Хэй
                p In my self-appointed role as 'FHIR evangelist' (some would say 'FHIR Fanatic') at Orion Health and HL7 New Zealand I'm often asked 'what is FHIR, and why should I care'. Rather than trying to explain each time, I'm going to write a short post here, so I can refer people to it, rather than trying to remember all the good points at the time.
                a(href="https://orionhealth.com/") Orion Health
                a(href="https://twitter.com/david_hay25") twitter
                a(href="https://www.linkedin.com/in/david-hay-423a519") linkedin
                a(href="http://fhirblog.com/") fhirblog
                a(href="http://www.slideshare.net/DavidHay5/introduction-to-fhir-new-zealand-seminar") Presentation

      .col-md-6
        ul
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Джош Мандел
                a(href="http://www.harvard.edu/") Harvard University
                p Physician, programmer, and would-be pâtissier/poet. Lead Architect for SMART Platforms.
                a(href="https://twitter.com/joshcmandel") twitter
                a(href="https://github.com/jmandel?tab=repositories") github
                a(href="http://smarthealthit.org/author/joshcmandel/") Smart
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Вьет Нгуен
                a(href="https://www.systemsmadesimple.com/SystemsMadeSimple/form/home.jsp") Systems Made Simple
                p Internist, pediatrician, clinical informaticist. CMIO @ Systems Made Simple. Amateur photographer/chef.
                a(href="https://twitter.com/VietNguyenMD") twitter
                a(href="https://github.com/jmandel?tab=repositories") github
                a(href="http://www.medicalpracticeinsider.com/best-practices/fhir-blazes-path-interoperability") article
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Брайан Постелвейт
                a(href="http://healthconnex.com.au/") HealthConnex
                p Through the years of experience in the many different environments, I have gained extensive knowledge in how software can be effectively used to satisfy user, and business, needs (which often clash).
                | The styles of software I have contributed to build have varied from the long running aged care
                | health environments, to the fast paced transactional products, and also the time critical newspaper publishing business, where multiple users are working on the same story concurrently, and all need to know in real time what the others have changed
                a(href="https://www.linkedin.com/in/brian-postlethwaite-91b9414") linkedin
                a(href="https://twitter.com/SgtPos") twitter
                a(href="https://github.com/brianpos") github
                a(href="http://www.medicalpracticeinsider.com/best-practices/fhir-blazes-path-interoperability") article
          li
            .media
              a.media-left(href="#")
                img.border.img-circle(src="http://placehold.it/100x100" alt="...")
              .media-body
                h4.media-heading Рене Спронк
                a(href="http://healthconnex.com.au/") HealthConnex
                p Специализация:Provision of educational services related to standards for interoperability in healthcare IT, e.g. HL7/IHE/DICOM Provision of services to Healthcare Infrastructure Networks (NHINs - regional/national) and Healthcare Information Exchanges (HIEs); Participation in healthcare IT standards development.
                a(href="https://www.linkedin.com/in/renespronk") linkedin
                a(href="https://twitter.com/ringholm") twitter
                a(href="https://github.com/brianpos") github

.persons
  .container
    .row
      h5.text-muted Редакционная комманда FHIR
    .row
      //- 1ST COL
      .col-md-4

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/graham.png" alt="...")
            .media-body
              h4.media-heading Грэм Грив
              //- a(href="http://www.healthintersections.com.au/") Health Intersections
              p.text-mute Healthcare Interoperability consultant and developer. Chair several HL7 committees and contribute and developer.
              //- a(href="https://twitter.com/grahamegrieve"): i.fa.fa-twitter twitter
              //- a(href="https://www.linkedin.com/in/grahame-grieve-952637"): i.fa.fa-linkedin-square linkedin
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/lloyd.png" alt="...")
            .media-body
              h4.media-heading Ллойд Маккензи
              //- a(href="https://www.gevityinc.com/") Gevity
              p.text-mute Information with architect with globally recognized expertise in HL7 data modeling and design data modeling.
              //- a(href="https://www.linkedin.com/in/lloyd-mckenzie-6b6681"): i.fa.fa-linkedin-square linkedin
          
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/evout.png" alt="...")
            .media-body
              h4.media-heading Эвут Крамер
              //- a(href="http://www.furore.com/") Furore
              p.text-mute Architect and software engineer. Consultancy and coaching for teams modelling and messaging.
              //- a(href="https://twitter.com/ewoutkramer"): i.fa.fa-twitter twitter
              //- a(href="https://www.linkedin.com/in/ewoutkramer"): i.fa.fa-linkedin-square linkedin
              //- a(href="https://github.com/ewoutkramer"): i.fa.fa-github-alt github
      
      //- 2ND COL
      .col-md-4

        .person-box  
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/james.png" alt="...")
            .media-body
              h4.media-heading Джеймс Агню
              //- a(href="http://ehealthinnovation.org/") University Health Network
              p.text-mute He is heavily involved with HL7 (a healthcare standards body) and heavily involved with leads the HAPI project.
              //- a(hret="https://github.com/jamesagnew"): i.fa.fa-github-alt github

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/josh.png" alt="...")
            .media-body
              h4.media-heading Джош Мандел
              //- a(href="http://www.harvard.edu/") Harvard University
              p.text-mute Physician, programmer, and would-be pâtissier/poet. Lead Architect for SMART and would-be Platforms.
              //- a(href="https://twitter.com/joshcmandel"): i.fa.fa-twitter twitter
              //- a(href="https://github.com/jmandel?tab=repositories"): i.fa.fa-github-alt github
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/vien.png" alt="...")
            .media-body
              h4.media-heading Вьет Нгуен
              //- a(href="https://www.systemsmadesimple.com/SystemsMadeSimple/form/home.jsp") Systems Made Simple
              p.text-mute Internist, pediatrician, clinical informaticist. CMIO @ Systems Made Simple. Amateur photographer/chef.
              //- a(href="https://twitter.com/VietNguyenMD"): i.fa.fa-twitter twitter
              //- a(href="https://github.com/jmandel?tab=repositories"): i.fa.fa-github-alt github
      
      //- 3RD COL
      .col-md-4
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/ben.png" alt="...")
            .media-body
              h4.media-heading Брайан Постелвейт
              //- a(href="http://healthconnex.com.au/") HealthConnex
              p.text-mute Through the years of experience in the many different environments, I have gained extensive knowledge in how.
              //- a(href="https://twitter.com/SgtPos"): i.fa.fa-twitter twitter
              //- a(href="https://www.linkedin.com/in/brian-postlethwaite-91b9414"): i.fa.fa-linkedin-square linkedin
              //- a(href="https://github.com/brianpos"): i.fa.fa-github-alt github
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/david.png" alt="...")
            .media-body
              h4.media-heading Дэвидом Хэй
              //- a(href="https://orionhealth.com/") Orion Health
              p.text-mute In my self-appointed role as 'FHIR evangelist' ('FHIR Fanatic') at Orion Health and HL7 New Zealand.
              //- a(href="https://twitter.com/david_hay25"): i.fa.fa-twitter twitter
              //- a(href="https://www.linkedin.com/in/david-hay-423a519"): i.fa.fa-linkedin-square linkedin
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/rene.png" alt="...")
            .media-body
              h4.media-heading Рене Спронк
              //- a(href="http://healthconnex.com.au/") HealthConnex
              p.text-mute Provision of educational services related to standards for interoperability in healthcare all services to fhir IT.
              //- a(href="https://twitter.com/ringholm"): i.fa.fa-twitter twitter
              //- a(href="https://www.linkedin.com/in/renespronk"): i.fa.fa-linkedin-square linkedin
              //- a(href="https://github.com/brianpos"): i.fa.fa-github-alt github

include ./_video.jade

//- intro

        //- .row
        //-   .col-md-8.col-md-offset-2
        //-     .links
        //-       p.links-text
        //-         a(href="http://hl7-fhir.github.io/", target="_blank") Текущая версия спецификации (англ.)
        //-         br
        //-         a(href="http://fhir-ru.github.io/", target="_blank") Перевод спецификации (рус.)
        //-         br
        //-         a(href="http://hl7.org/fhir/index.html", target="_blank") Текущая официально опубликованная версия спецификации 1.0.1 на 24 окт 2015 г. (англ.)
        //-         br 
        //-         a(href="http://www.hl7.org.ru/", target="_blank") HL7 РОССИЯ
    
    //- a(href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=185", target="_blank") второго (HL7 v2), 
    //- a(href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=186", target="_blank") третьего (HL7 v3)