.prefooter
	img.pull-right.hs-logo(src="img/logo-r.png", alt="")
	p.pull-right.hs-icons
		span.links
			a.icon-link(href="https://medium.com/@health_samurai"): i.fa.fa-medium
			a.icon-link(href="https://twitter.com/health_samurai"): i.fa.fa-twitter
			a.icon-link(href="https://plus.google.com/u/0/106276017181324261891"): i.fa.fa-google-plus-square
			//- a.icon-link(href="http://www.youtube.com/channel/UCcvmljb_iT5zx6cz1mbZmXg/playlists"): i.fa.fa-youtube
		a.hs-link(href="http://health-samurai.io/" target="_blank")
			span.copyright.pseudoline © 2015 Powered by
			span.hs-team.pseudoline Health Samurai Team