.projects#project(data-stellar-background-ratio="0.5")
	.row
		h5.text-title Российские пионерские проекты, использующие стандарт HL7® FHIR®
			
			.prj-box
				a.prj-link(href="http://netrika.ru/solution/health#solutions", target="_blank") Компонент "Обмен данными лабораторных исследований: интеграция МИС-ЛИС" комплексной интеграционной платформы N3.Здравоохранение
				.prj-description
					p Исполнители: 
						a(href="http://netrika.ru/", target="_blank") "Нетрика"
						=' и '
						a(href="http://health-samurai.io/", target="_blank") "Health Samurai".  
						|  Проект выполнен на базе 
						a(href="http://fhirbase.github.io/", target="_blank") FHIRbase.

			.prj-box
				a.prj-link(href="http://mo.nsi.spbmiac.ru/", target="_blank") Система управления реестром медицинских организаций Cанкт-Петербурга
				.prj-description
					p Исполнители: 
						a(href="http://netrika.ru/", target="_blank") "Нетрика"
						|, 
						a(href="http://spbmiac.ru/", target="_blank") СПб ГБУЗ МИАЦ
						=' и '
						a(href="http://health-samurai.io/", target="_blank") "Health Samurai".   
						|  Проект выполнен на базе 
						a(href="https://aidbox.io/landing.html#/", target="_blank") Aidbox.

			.prj-box
					a.prj-link(href="http://loinc.nsi.spbmiac.ru/", target="_blank") Справочник лабораторных тестов и справочник лабораторных услуг Санкт-Петербурга
					.prj-description
						p Исполнители: 
							a(href="http://netrika.ru/", target="_blank") "Нетрика"
							|, 
							a(href="http://spbmiac.ru/", target="_blank") СПб ГБУЗ МИАЦ
							=' и '
							a(href="http://health-samurai.io/", target="_blank") "Health Samurai".
							|  Проект выполнен на базе 
							a(href="https://aidbox.io/landing.html#/", target="_blank") Aidbox.
					
	//- .row
	//-   h5.text-title Зарубежные пионерские проекты, использующие стандарт HL7® FHIR®
	//- .row
	//-   .col-md-4
	//-     .prj-box
	//-       a.prj-link(href="https://orionhealth.com/intelligent-integration/rhapsody/", target="_blank") Orion Health Rhapsody Integration Engine
	//-       p Исполнитель: 
	//-         a(href="https://orionhealth.com", target="_blank") Orion Health
					
					
	//-   .col-md-4
	//-     .prj-box
	//-       a.prj-link(href="http://jamesagnew.github.io/hapi-fhir/", target="_blank") HAPI-FHIR library
	//-       p Исполнитель: 
	//-         a(href="http://netrika.ru/", target="_blank") University Health Network