$white: #ffffff;
$black: #000000;

// basic
$blue: #3ddfce;
$green: #ddAAEE;

// shading
$gray: #6C6C6C;
$light-gray: #C1C1C1;
$gray8: #888;
$gray9: #999;
$dark-gray: #363841;
$black-gray: #252525;

// personal
$red: #E20000;
$orange:#F98914;
$yell-bg: #F6F5F3;