/* IE10+ VIEWPORT FIX */
// -ms-@viewport {
//     width: device-width;
//     initial-scale: 1;
//     zoom: 1;
//     min-zoom: 1;
//     max-zoom: 3;
//     user-zoom: fixed;
// }
@viewport {
    width: device-width;
    initial-scale: 1;
    zoom: 1;
    min-zoom: 1;
    max-zoom: 3;
    user-zoom: fixed;
}

@media (max-width: 1093px) {
    #bg {
        display: none;
        #l1 {
            display: none;
        }
    }
}