$white: #fff;
$black: #000;

// basic
$blue: #3ddfce;
$green: #ddAAEE;

// shading
$gray: #6C6C6C;
$light-gray: #C1C1C1;
$gray9: #999;
$dark-gray: #363841;
$black-gray: #252525;

$_A4: #A4A4A4;
$_A5: #A5A5A5;
$_7: #777;
$_8: #888;
$_82: #828282;


// experiments
$red: #E3191B;
$deep-blue: #323A45;
$deep-red: #B1112D;
$more-deep-red: #5C0010;
$pink: #F71953;
// $red: #E20000;
// $orange:#F98914;
$yell-bg: #F6F5F3;