.intro
  .container
    .row
      .col-md-8
        p.intro-text.text-muted HL7® Fast Healthcare Interoperability Resources® (ресурсы для обмена медицинской информацией) 
        – это стандарт нового поколения от международной организации HL7. 
        FHIR создаётся с учётом стандартов и спецификаций HL7 второго (HL7 v2) и 
        третьего (HL7 v3) поколений, CDA, задействует современные веб-технологии и направлен на практическую реализацию.
        .row
          .intro-buttons
            .col-md-12
              a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-dev.html") Введение для разработчиков
              a.btn.btn-default.btn-lg(href="http://fhir-ru.github.io/overview-clinical.html") Введение для медицинских работников
      .col-md-4
        p.text-muted Реализации FHIR строятся на основе набора модульных компонентов, которые называются "ресурсы". 
        FHIR-ресурсы могут быть с легкостью собраны в функционирующие системы, способные решать реальные медицинские и 
        административные задачи при расходах в несколько раз меньших, чем при использовании альтернативных технологий. 
        Стандарт FHIR может использоваться в мобильных приложениях, облачных коммуникациях.
    
    //- a(href="http://www.hl7.org/implement/standards/product_brief.cfm?product_id=185") второго (HL7 v2), 
    //- a(href="https://www.hl7.org/implement/standards/product_brief.cfm?product_id=186") третьего (HL7 v3)
