.persons
  .container
    .row
      a(name="community")
      h5.text-title.pull-left Редакционная команда HL7® FHIR®
      a.link-title.pull-right(href="http://fhir-ru.github.io/credits.html", target="_blank") Сообщество и благодарности
    .row
      //- 1ST COL
      .col-md-4

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/graham.png" alt="...")
            .media-body
              h4.media-heading Грэм Грив
              p.text-mute Healthcare Interoperability consultant and developer. Chair several HL7 committees and contribute and developer.
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/josh.png" alt="...")
            .media-body
              h4.media-heading Джош Мандел
              p.text-mute Physician, programmer, and would-be pâtissier/poet. Lead Architect for SMART and would-be Platforms.
          
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/rene.png" alt="...")
            .media-body
              h4.media-heading Рене Спронк
              p.text-mute Provision of educational services related to standards for interoperability in healthcare all services to fhir IT.
      
      //- 2ND COL
      .col-md-4

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/lloyd.png" alt="...")
            .media-body
              h4.media-heading Ллойд Маккензи
              p.text-mute Information with architect with globally recognized expertise in HL7 data modeling and design data modeling.
              
         .person-box  
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/james.png" alt="...")
            .media-body
              h4.media-heading Джеймс Агню
              p.text-mute He is heavily involved with HL7 (a healthcare standards body) and heavily involved with leads the HAPI project.

        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/david.png" alt="...")
            .media-body
              h4.media-heading Дэвид Хэй
              p.text-mute In my self-appointed role as 'FHIR evangelist' ('FHIR Fanatic') at Orion Health and HL7 New Zealand.
        
        
      
      //- 3RD COL
      .col-md-4
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/evout.png" alt="...")
            .media-body
              h4.media-heading Эвут Крамер
              p.text-mute Architect and software engineer. Consultancy and coaching for teams modelling and messaging.
        
        
        
              
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/ben.png" alt="...")
            .media-body
              h4.media-heading Брайан Постлетвэйт
              p.text-mute Through the years of experience in the many different environments, I have gained extensive knowledge in how.
        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/vien.png" alt="...")
            .media-body
              h4.media-heading Вьет Нгуен
              p.text-mute Internist, pediatrician, clinical informaticist. CMIO @ Systems Made Simple. Amateur photographer/chef.
              
        
        
        

include ./_video.jade
