.persons-ru
  .container
    h5.text-title HL7® FHIR® Россия
    .row
      .col-md-6
        h4 Health Samurai 
        p Команда Health Samurai (ООО "Вейваксесс", Санкт-Петербург) является членом организации "HL7 Россия" и 
        занимается продвижением стандарта FHIR® в России, оказывая консультирование в области практического использования стандарта HL7® FHIR® 
        при разработке медицинских информационных систем. Команда Health Samurai сотрудничает с разработчиками стандарта HL7® FHIR®, 
        принимает участие в проводимых HL7® конференциях по FHIR®.
        | 
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/nicolay.png" alt="...")
            .media-body
              h4.media-heading Николай Рыжиков
              //- p Health Samurai Team
              p.text-muted Лидер команды
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/maxim.png" alt="...")
            .media-body
              h4.media-heading Максим Боднарчук
              //- p Health Samurai Team
              p.text-muted Разработчик
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/david.png" alt="...")
            .media-body
              h4.media-heading Михаил Лапшин
              //- p Health Samurai Team
              p.text-muted Разработчик
      .col-md-6
        include ./_twitter.jade
