.persons-ru
  .container
    h5.text-title FHIR Россия
    .row
      .col-md-6
        h4 Health Samurai
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium expedita quae quo odio aliquam maxime, cumque tempora. Vero, aliquam, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore minima velit magnam deserunt reiciendis veniam perferendis. Consequatur accusantium, tenetur aliquam. Ipsum, amet labore. Ex odio, pariatur incidunt doloribus sint veritatis esse corrupti iure, quam officia nihil debitis quasi, quibusdam perferendis. Error nemo ipsum consectetur officia quas expedita iste vero necessitatibus.
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis voluptatum sapiente iure aut dicta recusandae, error ut maxime. Rem, aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique fuga et omnis in atque voluptatum neque excepturi ut, perspiciatis laborum.
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/nicolay.png" alt="...")
            .media-body
              h4.media-heading Николай Рыжиков
              //- p Health Samurai Team
              p.text-muted Information with architect with globally recognized expertise in HL7 data modeling and design data modeling. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, sunt!
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/maxim.png" alt="...")
            .media-body
              h4.media-heading Максим Боднарчук
              //- p Health Samurai Team
              p.text-muted Information with architect with globally recognized expertise in HL7 data modeling and design data modeling. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, corporis.
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/david.png" alt="...")
            .media-body
              h4.media-heading Михаил Лапшин
              //- p Health Samurai Team
              p.text-muted Information with architect with globally recognized expertise in HL7 data modeling and design data modeling. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, repudiandae!
      .col-md-6
        include ./_twitter.jade