.persons-ru
  .container
    a(name="hl7russia")
    h5.text-title HL7® FHIR® Россия
    .row
      .col-md-6
        p.text-muted В 2009 году была создана некоммерческая организация Развития и стандартизации обмена, управления и интеграции электронной медицинской информации «ЗУС «Евразия». В её создании приняли участие Российский национальный исследовательский медицинский университет им. Н.И. Пирогова и ведущие государственные и частные структуры, работающие в сфере информационных технологий в здравоохранении (НПЦ ЭМП Департамента здравоохранения города Москвы, Департамент информационных технологий и связи Минздрава России, Страховая группа «Спасские ворота», МГОБ№ 62 города Москвы, МИАЦ РАМН, IT-Компании «Программы и комплексы», «Медицинские информационные технологии»). Президентом HL7 Россия на данный момент является руководитель научно-исследовательской лаборатории ГБОУ ВПО РНИМУ им. Н.И. Пирогова Минздрава России Сергей Леонидович Швырев, специалист в области практической разработки и интеграции медицинских информационных систем.
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/shvirev_sl.jpg" alt="Швырев Сергей Леонидович")
            .media-body
              h4.media-heading Швырев Сергей Леонидович
              p
                a(href="http://www.hl7.org.ru/") HL7 РОССИЯ
              p.text-muted Президент HL7 РОССИЯ
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/nicolay.png" alt="Николай Рыжиков")
            .media-body
              h4.media-heading Николай Рыжиков
              p
                a(href="https://healthsamurai.aidbox.io/#/") "Health Samurai" 
              p.text-muted Лидер команды        
        .person-box
          .media
            a.media-left(href="#")
              img.border.img-rounded(src="img/sasha.png" alt="Александра Павлышина")
            .media-body
              h4.media-heading Александра Павлышина
              p
                a(href="https://healthsamurai.aidbox.io/#/") "Health Samurai" 
              p.text-muted Инженер-программист, переводчик
      .col-md-6
        include ./_twitter.jade
        
        
        shvirev_sl.jpg
