.projects
  .container
    .row
      h5.text-title Пионерские проекты, использующие стандарт HL7® FHIR®
    .row
      .col-md-4
        .box
          a(name="projects")
          a(href="http://netrika.ru/solution/health#solutions")
            h3 Компонент "Обмен данными лабораторных исследований: интеграция МИС-ЛИС" комплексной интеграционной платформы N3.Здравоохранение
          p Исполнители: 
            a(href="http://netrika.ru/") "Нетрика"
            =' и '
            a(href="https://healthsamurai.aidbox.io/#/") "Health Samurai"  
          p.text-muted Проект выполнен на базе 
            a(href="http://fhirbase.github.io/") FHIRbase
      .col-md-4
        .box
          a(href="http://mo.nsi.spbmiac.ru/")
            h3 Система управления реестром медицинских организаций Cанкт-Петербурга
          p Исполнители: 
            a(href="http://netrika.ru/") "Нетрика"
            |, 
            a(href="http://spbmiac.ru/") СПб ГБУЗ МИАЦ
            =' и '
            a(href="https://healthsamurai.aidbox.io/#/") "Health Samurai"   
          p.text-muted Проект выполнен на базе 
            a(href="https://aidbox.io/landing.html#/") aidbox
      .col-md-4
        .box
          a(href="http://loinc.nsi.spbmiac.ru/")
            h3 Справочник лабораторных тестов и справочник лабораторных услуг Санкт-Петербурга
          p Исполнители: 
            a(href="http://netrika.ru/") "Нетрика"
            |, 
            a(href="http://spbmiac.ru/") СПб ГБУЗ МИАЦ
            =' и '
            a(href="https://healthsamurai.aidbox.io/#/") "Health Samurai"  
          p.text-muted Проект выполнен на базе 
            a(href="https://aidbox.io/landing.html#/") aidbox