.projects
  .container
    .row
      h5.text-title Проекты, в которых используется стандарт HL7® FHIR®
    .row
      .col-md-4
        .box
          img.netrika(src="img/netrika.jpg")
          h3 "Нетрика" совместно с СПб ГБУЗ МИАЦ
          p Сервис обмена данными лабораторных исследований
      .col-md-4
        .box
          img(src="img/miac.png")
          h3 СПб ГБУЗ МИАЦ
          p Система управления реестром медицинских организаций анкт-Петербурга
      .col-md-4
        .box
          img(src="img/miac.png")
          h3 СПб ГБУЗ МИАЦ
          p Справочник лабораторных тестов и справочник лабораторных услуг Санкт-Петербурга
