.projects
  .container
    .row
      h5.text-title Проекты на FHIR
    .row
      .col-md-4
        .box
          img.netrika(src="img/netrika.jpg")
          h3 Netrika
          p Лаборатоная шина данных Справочник лабораторных тестов Lorem ipsum dolor sit amet, consectetur adipisicing.
      .col-md-4
        .box
          img(src="img/miac.png")
          h3 Регистр МО
          p Система управления реестром медицинских организаций Справочник лабораторных тестов Lorem ipsum dolor sit.
      .col-md-4
        .box
          img(src="img/miac.png")
          h3 LOING
          p Справочник лабораторных тестов Система управления реестром медицинских организаций Lorem ipsum dolor sit amet, consectetur adipisicing elit.