.projects
  .container
    .row
      a(name="refimplementations")
      h5.text-title Публично доступные FHIR®-сервера для тестирования
    .row
      .col-md-4
        .box
          a(href="http://fhir2.healthintersections.com.au/", target="_blank")
            h3 Тестовый сервер Грэма Грива                    
        .box
          a(href="http://spark.furore.com/", target="_blank")
            h3 Тестовый сервер Эвута Крамера
        .box
          a(href="http://nprogram.azurewebsites.net/", target="_blank")
            h3 Тестовый сервер Rik Smithies (NProgram)

        .box
          a(href="http://fhir.oridashi.com.au/", target="_blank")
            h3 Тестовый сервер Brett Esler (Oridashi)
        .box
          a(href="https://fhir.smartplatforms.org/", target="_blank")
            h3 Тестовый сервер Josh Mandel (SMART Platforms)
      .col-md-4
        .box
          a(href="http://worden.globalgold.co.uk:8080/FHIR_a/hosted_demo.html", target="_blank")
            h3 Тестовый сервер Robert Worden (Open Mapping Software) 
        .box
          a(href="http://fhirplace.health-samurai.io/", target="_blank")
            h3 Тестовый сервер Health Samurai
        .box
          a(href="http://fhirtest.uhn.ca/", target="_blank")
            h3 Тестовый сервер HAPI / University Health Network
        .box
          a(href="http://fhir.cerner.com/", target="_blank")
            h3 Тестовый сервер Cerner

        .box
          a(href="http://open.epic.com/Interface/FHIR", target="_blank")
            h3 Тестовый сервер Epic      
      .col-md-4            
        .box
          a(href="http://wildfhir.aegis.net/dstu2", target="_blank")
            h3 Тестовый сервер AEGIS WildFHIR - DSTU2 (v1.0.2-7202)     
        .box
          a(href="http://sqlonfhir-dstu2.azurewebsites.net/fhir", target="_blank")
            h3 Тестовый сервер HealthConnex - DSTU2
        .box
          a(href="http://health.gnusolidario.org:5000/", target="_blank")
            h3 Тестовый сервер GNU Health FHIR server
        .box
          a(href="http://ontoserver.csiro.au/fhir", target="_blank")
            h3 Тестовый сервер CSIRO's Ontoserver - DSTU2 (2015Sep)       
        .box
          a(href="https://fhir.i2b2.org/open/", target="_blank")
            h3 Тестовый сервер i2b2 FHIR server - DSTU2 (2015 Sep)



            

            


