//- vendor
script('src'='js/vendor/jquery/jquery.min.js')
//- stellar.js
script('src'='js/vendor/jquery.stellar/jquery.stellar.min.js')
//- parallax.js
script('src'='js/vendor/parallax/parallax.min.js')
//- wow.js
script('src'='js/vendor/wow/wow.min.js')
//- script('src'='js/vendor.min.js')
script('src'='js/main.min.js')