include ./_head.jade
//- include content/_parallax.jade
//- include content/_header.jade
include ./_loader.jade
include content/_intro.jade
include content/_persons.jade
include content/_blogs.jade
//- include ./_medium.jade
//- include content/_refs.jade
include content/_persons-ru.jade
include content/_projects.jade
include content/_prefooter.jade
//- include content/_footer.jade

include ./_scripts.jade