include ./_head.jade
include ./_header.jade
include ./_intro.jade
include ./_persons.jade
include ./_blogs.jade
include ./_refimplementations.jade
include ./_persons-ru.jade
include ./_projects.jade
//- include ./_embeds.jade
//- include ./_prefooter.jade
include ./_footer.jade