doctype html
html(lang="en")
  include ./_links.jade
  body
    include ./_header.jade
    include ./_intro.jade
    include ./_persons.jade
    include ./_persons-ru.jade
    include ./_projects.jade
    //- include ./_embeds.jade
    //- include ./_prefooter.jade
    include ./_footer.jade