include ./_head.jade
include content/_header.jade
//- include content/_intro.jade
//- include content/_persons.jade
//- include content/_products.jade
//- include content/_twitter.jade
//- include content/_prefooter.jade
include ./_footer.jade